@use "../../styles/main" as *;

.container{
    display: grid;
    width: 90vw;
    height: 95vh;
  margin:  auto;
    align-items: center;
    font-family: $primary-font;

    @include respond(tablet) {
       
        height: 90vh;
    }

  .loginImage{
   margin: 1rem 0;
      width: 145px;
         height: 30px;
  }
}

.loginBox {
    display: grid;
    grid-template-columns: auto ;
     width: 100%;
        gap: 2rem 0;
    @include respond(tablet) {
        grid-template-columns: auto auto;
      
    }
    
      
 

    section {
  display: flex;
  flex-direction: column;
  gap:20px 0;
  

   .loginHeader {
        display: grid;
        gap:1rem 0;
        margin:2.5rem 0;

    h1{
        font-weight: 700;
        font-size: 35px;
        color:#213F7D;
       @include respond(tablet) {
       font-size: 40px;
       }
       
    }
    p{
font-weight: 400;
font-size: 20px;
color: #545F7D;
line-height: 100%;
letter-spacing: 0;
     }
    }
}
      img{
       
        margin-top: auto;
        height: auto;
          display: none;
        
          @include respond(tablet) {
       display:block;
       width: 90%;
    }       
    }
    
   

}




.loginForm {
    display: flex;
    flex-direction: column;
    gap: 21px 0;

  
   
.emailField{
    position: relative;
      width: 100%;
   
            @include respond(desktop) {
       width: 447px;
}

    span{
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        font-family: $primary-font;   
    cursor: pointer;
    color:#39CDCC;
    text-transform: uppercase; 
    font-size: 12px; 
    }
}

  .field {
       
    border: 2px solid #545F7D26;
    font-size: 14px;
    width: 100%;
            @include respond(desktop) {
          
              width: 447px;
        }
         
height: 50px;
border-radius: 5px;
border-width: 2px;
padding: 4px 8px;

    }
    .error {
        color:red;
        padding:0.5rem
    }

    button {
       width: 100%;
        @include respond(desktop) {
           
              width: 447px;
        }
          
height: 48px;
border:none;
border-radius: 8px;
background-color: #39CDCC;
color:white;
font-family: $primary-font;
font-weight: 600;
font-size: 14px;
line-height: 100%;
letter-spacing: 0.1em;
text-align: center;
text-transform: uppercase;
cursor: pointer;
margin: 1rem 0;
    }
    .forgotBtn{
        font-family: Avenir Next;
font-weight: 600;
font-size: 12px;
line-height: 100%;
letter-spacing: 0.1em;
text-transform: uppercase;
color:#39CDCC;
cursor: pointer;
    }
}




