@use "../../styles/main" as *;

nav {
    position: fixed;
    top:0;
    left:0;
    
   
    @include respond(tablet){
      left:250px;
    }

     @include respond(desktop){
      left:283px;
    }
    right:0;
    background-color: #FFFFFF;
    box-shadow: 3px 0px 20px 0px #0000000A;
    z-index: 1000;
   font-family: $secondary-font;

    section {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
            height: fit-content;
             padding: 2rem 0;
           @include respond(tablet){
           
            height: 100px;
            gap:0 2rem;
           }
        width: 90%;
        margin: 0 auto;
        gap:1rem 2rem;

       
    }
}


    .navLeft{
        display: flex;
        align-items: center;
      justify-content: space-between;
     flex: 1 0 100%;
    
      @include respond(tablet){
   
       flex-basis:  55%;
      }
        
      svg {
        flex-basis: 15%;
        box-shadow: 8px 8px 5px 0px #0000000A;
        border-radius: 4px;
    font-size: 2rem;
    outline: brown;
        width:24px;
        height:35px;
       
        margin-right: 1.5rem;
        color:#213F7D;
        @include respond(tablet){
     display: none;
        }
      &:hover {
        cursor: pointer;
        border: 1px solid #213F7D;
      }
    }
      .navSearch{
        display: flex;
        width: 100%;
        @include respond(desktop){
            width: 400px;
         }  
        }
      input {
        
         width:100%;
        @include respond(desktop){
            width: 344px;
            
         }
        height: 40px;
       font-size: 14px;
       font-weight: normal;
            border: 1px solid #213F7D;
          border-radius: 8px;
          padding: 1rem;

            &:focus {
                outline: none;
            }
            &::placeholder {
                
                color: #545F7D;
                font-size: 14px;
                font-weight: 400
                      }
        }
        button {
            width: 56px;
height: 40px;
border: none;
margin-left: -4px;
border-radius: 0px 8px 8px 0px;
background: #39CDCC;

        }
    }




.navRight {
  display: flex;
    flex: 1 0 auto; 
  
    justify-content: flex-end;
  gap: 0 2rem;
  @include respond(desktop){
    gap: 0 3rem;
  }
 
  
    align-items: center;
   color:#213F7D;


    a {
        font-family: $tertiary-font;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-thickness: 0%;

    }


  .navProfile{
    display: flex;
    align-items: center;
    gap: 0 1rem;
    @include respond(desktop){
    gap: 0 2rem;
  }
  
    .navUser {
display: flex;
align-items: center;
gap: 0 0.5rem;

@include respond(desktop){
    gap: 0 1rem;
  }

       .navUserImg{
        width: 48;
height: 48;
border-radius: 50%;

       } 
       p {

font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0px;

       }
    }
  
  }
}




img, a, button {
    cursor: pointer;
}