


@font-face {
  font-family: 'Avenir Next';
  src: url('/src/assets/fonts/AvenirNext/AvenirNextCyr-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/src/assets/fonts/AvenirNext/AvenirNextCyr-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/src/assets/fonts/AvenirNext/AvenirNextCyr-Demi.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/src/assets/fonts/AvenirNext/AvenirNextCyr-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('/src/assets/fonts/AvenirNext/AvenirNextCyr-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body{
  font-family:  'Avenir Next', sans-serif;
  overflow-x: hidden;
}