

@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media (min-width: 480px) { @content; }
  }
  @else if $breakpoint == tablet {
    @media (min-width: 768px) { @content; }
  }
  @else if $breakpoint == desktop {
    @media (min-width: 1120px) { @content; }
  }
  @else if $breakpoint == tv {
    @media (min-width: 1440px) { @content; }
  }
}
