@use "../../styles/main.scss" as * ;


aside {

    width: 80%;
    display: none;
    font-family: $secondary-font;
   
    @include respond(tablet){
      width: 250px;
      display: block;
    }
    @include respond(desktop){
      width:283px;
      
    }
     background-color: #FFFFFF;
    box-shadow: 3px 0px 20px 0px #0000000A;
    z-index: 1000;
  height: 100%;
    position: fixed;
     
    top:0;
    left:0;
    font-family: $secondary-font;

   
    
  &.open{
  display: block;
    }


    
}

 .sideBarSection{
     display: flex;
     flex-direction: column;
   
     padding: 2rem 0;
     width: 100%;
     margin: 0 auto;
     
     .sideBarLogo{
      width: 100%;
     height: 100px;
    
     img{
          height: 30px;
          width: 120px;
          display: block;
          margin:  auto 0  auto 30px;
     }
     }



     .sideBarHeader{
      display: flex;
      flex-direction: column;
      gap: 2rem 0;
   
      margin-bottom: 1rem;
 

      .activeNav{
        display: flex;
        gap: 0 0.5rem;
         height: 40px;
               align-items: center;
        color:#213F7D;
        text-decoration: none;
       padding-left: 30px;
&:hover{
   
    
     background-color:  rgba(57, 205, 204, 0.2);
                }

             

  p{
   font-weight: 400;
font-size: 16px;
  }

      }
     }
     
     
   .sideBarMain {
  
     display: flex;
     width: 100%;
      flex-direction: column;
        
          gap:1.2rem 0;  
        margin-top: 1.5rem;
        margin-bottom: 1rem;

          p {
        
font-weight: 500;
font-size: 14px;
  color: #545F7D;
  padding-left: 30px;
  text-transform: uppercase;
          }

          .sideBarMainLinks{
            display: flex;
            flex-direction: column;
            gap:1.5rem 0;
            
              
            .activeMainNav{
               display: flex;
               height: 40px;
               align-items: center;
        gap: 0 0.5rem;
        color:#213F7D;
        text-decoration: none;
        
      padding-left: 30px;
  &:hover{
   
    
     background-color:  rgba(57, 205, 204, 0.2);
      
  
                }
&.active {
  background-color:  rgba(57, 205, 204, 0.2);
}

        p{
        
font-weight: 400;
font-size: 16px;
text-transform: none;
padding: 0;
        }
          }
          
          }
   }  
  
 }
